# ======== FRONTEND ========
FRONTEND_PORT=3000
NEXT_PUBLIC_API_BASE=http://0.0.0.0:9090


# ======== BACKEND ========
# Application settings
APP_NAME=aml-graph
APP_HOST=0.0.0.0
APP_PORT=9090
APP_DEBUG=1
APP_TZ=Asia/Vladivostok

LOG_LEVEL=INFO
HTTP_DOCS_PATH=/docs

# AML Database
AML_DB_HOST=postgres
AML_DB_PORT=5432
AML_DB_USER=aml
AML_DB_PASSWORD=aml
AML_DB_DATABASE=aml_graph
AML_DB_POOL_SIZE=5
AML_DB_MAX_POOL_SIZE=10

# RabbitMQ Settings
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_VHOST=/
RABBITMQ_USER=aml
RABBITMQ_PASSWORD=aml
RABBITMQ_MBWS_EXCHANGE=aml_tasks

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

# Ladybug Database
LADYBUG_DB_PATH=storage/ladybug

# File Storage
STORAGE_CSV_PATH=storage/uploads
