# ======== FRONTEND ========
FRONTEND_PORT=3000
NEXT_PUBLIC_API_BASE=http://0.0.0.0:9090

# ======== BACKEND ========
# Application settings
APP_NAME=amp-graph-backend
APP_HOST=0.0.0.0
APP_PORT=9090
APP_DEBUG=1
APP_TZ=Asia/Vladivostok

# Logging settings
LOG_LEVEL=INFO

# HTTP settings
HTTP_DOCS_PATH=/docs
